main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  border-radius: 8px;
  padding: 24px;

  background: #fff;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form input:hover {
  border-color: #000;
  outline: none;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: none;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form button:hover {
  background: #6c8cff;
}

.form button:active {
  transform: scale(0.98);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
}

.gallery-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.02);
}

.gallery-item-link {
  height: 100%;
}

.gallery-item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info {
  border: 1px solid #808080;
  border-top: none;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  padding: 8px 20px;
  background-color: #f9f9f9;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info > p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
